<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<title>le web sémantique </title>
</head>
<body>
<div class="top-space">
	<ul class="menu">
		<li><a class="top-title" href="{{ url_for('index') }}">Accueil</a></li>
		<li><a class="top-title"href="{{ url_for('page2') }}">Web sémantique</a></li>
		<li><a class="top-title"href="{{ url_for('qcm') }}">QCM</a></li>
	</ul>
</div>
<h1>Le Web sémantique</h1>
	<img src="{{ url_for('static', filename='ws.png') }}">

<ul>
<li> Le Web sémantique est un concept qui consiste à rendre les contenus d’Internet compréhensibles par les machines. Il ne s’agit plus seulement de pages web lues par les humains, mais aussi d’un système où les ordinateurs peuvent analyser, classer et relier des informations de manière intelligente. Cela permet, par exemple, d’améliorer les moteurs de recherche, les assistants vocaux ou encore les bases de données. </li>

<li> Rose Dieng-Kuntz a été l’une des premières chercheuses en France à s’intéresser à ce domaine. Elle a dirigé des travaux qui avaient pour objectif d’organiser les connaissances de manière à ce qu’elles soient accessibles automatiquement, sans intervention humaine. Grâce à elle, les systèmes informatiques peuvent aujourd’hui “comprendre” le sens des données qu’ils traitent.</li>

<li> avancée est essentielle dans un monde où les données sont de plus en plus nombreuses. Elle a permis de poser les bases d’un Internet plus intelligent, souvent appelé “Web 3.0”.</li>
</ul>
<h2>Comparaison Web classique vs Web sémantique</h2>

<table border="1">
  <thead>
    <tr>
      <th>Critère</th>
      <th>Web classique</th>
      <th>Web sémantique</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lecture</td>
      <td>Par l'humain</td>
      <td>Par l'humain et machine</td>
    </tr>
    <tr>
      <td>Recherche d'information</td>
      <td>Basique</td>
      <td>Contextuelle et précise</td>
    </tr>
    <tr>
      <td>Structure</td>
      <td>Non standardisée</td>
      <td>Données structurées</td>
    </tr>
  </tbody>
</table>


<p><strong>Source :</strong> <a href="https://fr.wikipedia.org/wiki/Web_s%C3%A9mantique" target="_blank">Wikipedia - Web sémantique</a></p>
<div class="bottom-space"></div>

</body>
</html>
