<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- met un lien vers le css -->

    <title>Questionnaire sur Rose Dieng-Kuntz</title>
</head>
<body>
<div class="top-space">
	<ul class="menu">
		<li><a class="top-title" href="{{ url_for('index') }}">Accueil</a></li>   <!-- met des liens vers les autres pages -->
		<li><a class="top-title"href="{{ url_for('page2') }}">Web sémantique</a></li>
		<li><a class="top-title"href="{{ url_for('qcm') }}">QCM</a></li>
		<li><p id="heure" style="color: white; margin: 0;"></p></li> <!-- Ceci est le bonus -->
	</ul>
</div>
    <H1>Questionnaire sur Rose Dieng-Kuntz</H1>
     <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran"> <!-- lien vers une vidéo youtube-->
 <img src="{{ url_for('static', filename='question.png') }}" width="300">
</a>
    <form action="/resultat" method="post">  <!-- définie le qcm -->
<ol> <!-- met les chiffres devant les paragraphes qui ici sont des questions --> 
  <li>
    Quel est le pays d’origine de Rose Dieng-Kuntz ? <!-- question 1 --> 
    <br>
    <input type="radio" name="q1" value="a"> Cameroun<br>
    <input type="radio" name="q1" value="b"> Sénégal<br>
    <input type="radio" name="q1" value="c"> Côte d’Ivoire
  </li>

  <li>
    Dans quel domaine a-t-elle travaillé ? <!-- question 2 -->
    <br>
    <input type="radio" name="q2" value="a"> Médecine<br>
    <input type="radio" name="q2" value="b"> Intelligence artificielle<br>
    <input type="radio" name="q2" value="c"> Astronomie
  </li>

  <li>
    Quelle école a-t-elle intégrée ? <!-- question 3 -->
    <br>
    <input type="radio" name="q3" value="a"> HEC<br>
    <input type="radio" name="q3" value="b"> ENS<br>
    <input type="radio" name="q3" value="c"> Polytechnique
  </li>

  <li>
    À quoi sert le Web sémantique ? <!-- question 4 -->
    <br>
    <input type="radio" name="q4" value="a"> À manger des fajitas <br>
    <input type="radio" name="q4" value="b"> À rien mdr <br>
    <input type="radio" name="q4" value="c"> À créer un nuage Internet
  </li>

  <li>
    Quel prix a-t-elle reçu en 2005 ? <!-- question 5 -->
    <br>
    <input type="radio" name="q5" value="a"> Prix Nobel<br>
    <input type="radio" name="q5" value="b"> Prix L’Oréal<br>
    <input type="radio" name="q5" value="c"> Prix Irène Joliot-Curie
  </li>

  <li>
    Quand est-elle décédée ? <!-- question 6 -->
    <br>
    <input type="radio" name="q6" value="a"> 2005<br>
    <input type="radio" name="q6" value="b"> 2008<br>
    <input type="radio" name="q6" value="c"> 2012
  </li>
</ol>

        </p>
        <input type="submit" value="Envoyer">  <!-- fait le bouton pour envoyer les résultats -->
    </form>

<div class="bottom-space"></div>  <!-- affiche l'heure  -->
<script>
  setInterval(() => {
    document.getElementById("heure").innerText = new Date().toLocaleTimeString();
  }, 1000);
</script>
</body>
</html>
