<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Résultat</title>
</head>
<body>
<div class="top-space">
	<nav class="nav">
		<li><a href="{{ url_for('index') }}"class="top-title">Accueil</a></li>
		<li><a href="{{ url_for('page2') }}"class="top-title">Web sémantique</a></li>
		<li><a href="{{ url_for('qcm') }}"class="top-title">QCM</a></li>
	</nav>
</div>
    <h1>Résultat du questionnaire</h1>
    <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran">
 <img src="{{ url_for('static', filename='resu.jpeg') }}" width="300">
</a>
    <p>Tu as obtenu {{ score }}/{{ total }} bonnes réponses.</p>
    <a href="{{ url_for('index') }}">--> Retour <--</a>
<h2> Le bobobobobonus</h2>
    <p id="heure"></p>
<script>
  setInterval(() => {
    document.getElementById("heure").innerText = new Date().toLocaleTimeString();
  }, 1000);
</script>
<div class="bottom-space"></div>
</body>
</html>
