<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Résultat</title>
</head>
    <h1>résultats</h1>
    <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran">
 <img src="{{ url_for('static', filename='resu.jpeg') }}" width="300">
</a>

<body>
    <h1>Résultat du questionnaire</h1>
    <p>Tu as obtenu {{ score }}/{{ total }} bonnes réponses.</p>
</body>
</html>
