<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Résultat</title>
</head>
<body>
<div class="top-space">
	<ul class="menu">
		<li><a class="top-title" href="{{ url_for('index') }}">Accueil</a></li>
		<li><a class="top-title"href="{{ url_for('page2') }}">Web sémantique</a></li>
		<li><a class="top-title"href="{{ url_for('qcm') }}">QCM</a></li>
	</ul>
	<p id="heure" style="color: white; margin-left: 20px;"></p>
</div>
    <h1>Résultat du questionnaire</h1>
    <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran">
 <img src="{{ url_for('static', filename='resu.jpeg') }}" width="300">
</a>

{% if score == 0 %}
    <p>Tu n'as pas obtenu de bonne réponse.</p>
{% elif score == 1 %}
    <p>Tu as obtenu 1/{{ total }} bonne réponse.</p>
{% else %}
    <p>Tu as obtenu {{ score }}/{{ total }} bonnes réponses.</p>
{% endif %}

<h2> Le bobobobobonus</h2>
    <p id="heure"></p>
<script>
  setInterval(() => {
    document.getElementById("heure").innerText = new Date().toLocaleTimeString();
  }, 1000);
</script>
<div class="bottom-space"></div>
</body>
</html>
